.enable {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}

.disable {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
}